#bgimage {

	background-image: url(rafa-background.jpg);
	background-size: 100%;

}

form {

	color: white;
	font-weight: bold;
}

body {

	background-color: #b3b3b3;
}

.license {

	display: block;
	margin-top: 170px;

		
}

.licenselink:visited {

  color: white;

}




#c-footer {

	text-align: center;

}

#info {

	padding: 20px;
	border: 3px solid #000066;
	margin: 75px 20px 20px 10px;
	background-color: #b3ecff;
}

#congrats {

	font-family: 'Copperplate Gothic Light';
}

#index {

	background-image: url(roland_garros.jpg);
	background-size: 100%;
}

#index-license {
 
 font-weight: bold;
}

#index-img {

	margin-left: 20px;
}


#if-license {

	text-align: center;
}

#navigation {

	font-size: 24px;
}