#bgimage {

	background-image: url(rafa-background.jpg);
	background-size: 100%;

}

form {

	color: white;
	font-weight: bold;
}

body {

	background-color: #b3b3b3;
}

#license {

	display: block;
	margin-top: 220px;

		
}

.licenselink:visited {

  color: white;

}


#c-footer {

	text-align: center;

}

#info {

	padding: 10px;
	border: 3px dashed #000066;
	margin: 20px;
}

#congrats {

	font-family: 'Copperplate Gothic Light';
}